# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files (dev & prod)
.env*
!important:.env.example


# .env.development
REACT_APP_CHATBOT_API_URL=https://dev-loopivia-n8n.mycompany.com/webhook/chat
REACT_APP_TRAIN_SECRET=devSuperSecretToken123

# .env.production
REACT_APP_CHATBOT_API_URL=https://loopivia-n8n.mycompany.com/webhook/chat
REACT_APP_TRAIN_SECRET=prodInstancielUltraSecret456
